# Paths where data are stored on the host and in the container: 
# Must follow this structure inside the same docker volume /data for hardlinking to work :
#   /data/downloads
#   /data/media/movies
#   /data/media/tv
HOST_DATA_ROOT=/data
DOCKER_DATA_ROOT=/data
# These paths can be overridden by the user, but they must be consistent with a structure like above for hardlinking to work :
#DOWNLOADS_PATH=/data/downloads
#MOVIES_PATH=/data/media/movies
#TV_PATH=/data/media/tv

# User credentials for the web interface :
APP_VERSION=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me

# qBittorrent Web API credentials and settings:
QBITTORRENT_URL=
QBITTORRENT_USERNAME=
QBITTORRENT_PASSWORD=
TORRENT_MIN_SEED_TIME_DAYS=0
TORRENT_MIN_RATIO=0

# Radarr and Sonarr API credentials and settings:  
RADARR_URL=
RADARR_API_KEY=
SONARR_URL=
SONARR_API_KEY=
